# ArmA related files
*.pbo
*.bisign

# log files
*.log

# some general exceptions to keeps the syncs small and leave unneded files local
*.tga
*.png
*.jpeg
*.jpg
*.jpe
*.ps
*.ps
*.pdn
*.3ds
/X39_MedSys_Ressources/texHeaders.bin
/X39_MedSys_Stretcher/texHeaders.bin
